<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
    <script defer src="https://use.fontawesome.com/releases/v6.2.1/js/all.js"></script>
    <style>

        #register-form{
            display: none;
        }
    </style>
    <script>
        function logOut() {
                alert("logout");
            $.ajax({
                type : "POST",
                url : "/logout",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization","Bearer " + getCookie("token"));
                },
                data:{},
                success : function (response){
                    location.reload()
                }
            })


        }
        $(document).ready(function() {
            if( getCookie("token")!= undefined){
                 $.ajax({
                     type: "GET",
                     url: "/user",
                     beforeSend: function (xhr) {
                         xhr.setRequestHeader("Authorization","Bearer " + getCookie("token"));
                     },
                     success: function (response) {
                            userHtml = response
                            $('.wrap').append(userHtml);
                     }
                 });
            } else{
                loginHtml = '<div class="login">\n' +
                    '        <h2>Log-in</h2>\n' +
                    '        <div class="login_id">\n' +
                    '            <h4>username</h4>\n' +
                    '            <input type="text"  id="user-name" placeholder="user-name">\n' +
                    '        </div>\n' +
                    '        <div class="login_pw">\n' +
                    '            <h4>Password</h4>\n' +
                    '            <input type="password"  id="password" placeholder="Password">\n' +
                    '        </div>\n' +
                    '        <div class="login_etc">\n' +
                    '            <div class="register">\n' +
                    '                <a onclick="registerOpen()">sign-in</a>\n' +
                    '            </div>\n' +
                    '            <div class="forgot_pw">\n' +
                    '                <a href="">Forgot Password?</a>\n' +
                    '            </div>\n' +
                    '        </div>\n' +
                    '        <div class="submit">\n' +
                    '            <input onclick="logIn()" type="submit" value="submit">\n' +
                    '        </div>\n' +
                    '    </div>\n' +
                    '</div>\n' +
                    '<div id = \'register-form\'>\n' +
                    '    <div class="login_id">\n' +
                    '        <h4>username</h4>\n' +
                    '        <input type="text"  id="user-name-register" placeholder="user-name">\n' +
                    '    </div>\n' +
                    '    <div class="login_pw">\n' +
                    '        <h4>Password</h4>\n' +
                    '        <input type="password"  id="password-register" placeholder="Password">\n' +
                    '    </div>\n' +
                    '    <div class="submit">\n' +
                    '        <input onclick="register()" type="submit" value="submit">\n' +
                    '    </div>';
                $('.wrap').append(loginHtml);
            }
        })

        function getCookie(cookieName) {
            cookieName = `${cookieName}=`;
            let cookieData = document.cookie;

            let cookieValue = "";
            let start = cookieData.indexOf(cookieName);

            if (start !== -1) {
                start += cookieName.length;
                let end = cookieData.indexOf(";", start);
                if (end === -1) end = cookieData.length;
                cookieValue = cookieData.substring(start, end);
            }

            return unescape(cookieValue);
        }
        function registerOpen() {
            let registerForm = $('#register-form').css('display');
            if(registerForm == 'block'){
                $('#register-form').hide();
            }else {
                $('#register-form').show();
            }
        }
        function register() {
            let username = $('#user-name-register').val();
            let password = $('#password-register').val();

            $.ajax({
                    type: "POST",
                    url: '/register',
                    data: {'username' : username, 'password' : password},
                    success: function (response){
                        if(response['message'] == 'success'){
                            alert("회원가입이 성공했습니다");
                            location.reload();
                        } else {
                            alert("이미 존재하는 ID 입니다")
                        }
                    }
                }
            )
        }
        function logIn() {
            let username = $('#user-name').val();
            let password = $('#password').val();
            $.ajax({
                    type: "POST",
                    url: '/login',
                    data: {'username' : username, 'password' : password},
                    success: function (response){
                        if(response['message'] == 'fail'){
                            alert("로그인 정보를 다시 입력하세요");
                        } else {
                            alert("로그인성공!");
                            setCookie("token",response['access_token'])
                            location.reload();
                        }
                    }
                }
            )
        }
        function setCookie(name, value, options = {}) {

            options = {
                path: '/',
                // 필요한 경우, 옵션 기본값을 설정할 수도 있습니다.
                ...options
            };

            if (options.expires instanceof Date) {
                options.expires = options.expires.toUTCString();
            }

            let updatedCookie = encodeURIComponent(name) + "=" + encodeURIComponent(value);

            for (let optionKey in options) {
                updatedCookie += "; " + optionKey;
                let optionValue = options[optionKey];
                if (optionValue !== true) {
                    updatedCookie += "=" + optionValue;
                }
            }

            document.cookie = updatedCookie;
        }
        function getCookie(name) {
            let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }


    </script>
</head>
<body>
<div class="wrap">
</div>
</body>
</html>